Source: kmsjsoncpp
Section: utils
Priority: optional
Maintainer: Kurento Maintenance Team <kurento@googlegroups.com>
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 pkg-config,
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: http://kurento.org
Vcs-Git: https://github.com/Kurento/kms-jsonrpc.git
Vcs-Browser: https://github.com/Kurento/kms-jsonrpc.git

Package: kmsjsoncpp
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: jsoncpp library fork for Kurento
 Implementation of the jsonRPC protocol in C++

Package: kmsjsoncpp-dev
Architecture: any
Depends:
 kmsjsoncpp (= ${binary:Version}),
 ${misc:Depends},
Description: jsoncpp dev library fork for Kurento
 Implementation of the jsonRPC protocol in C++
